.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5em;
  row-gap: 1.5em;
}

.result-badge{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    padding: 2px;
    justify-content: center;
    align-items: center;

}